@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Raleway:wght@400;700&display=swap');


body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    

}




@import "variable";
@import "header";
@import "content";
@import "footer";




    
